:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}
.sliderSection {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.sliderLabel {
  width: 150px;
}
.customSlider {
  width: 200px;
  /* margin: auto; */
  /* flex-grow: 1; */

  margin: 0 30px;
}
.sliderValue {
  width: 50px;
}
.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 6px;
  /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}
.customSlider-thumb {
  cursor: pointer;
  background: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 3px var(--main-color-hover);
  background-color: rgb(72, 86, 190);
}
.customSlider-mark {
  cursor: pointer;
  top: 7px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}
.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}

/* /////// sidebar */
h1 {
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  width: 200px;
}

.sidebar .toggle-button {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 34px;
  cursor: pointer;
  margin: 10px 0;
}

.sidebar-content {
  width: 100%;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #2d2d2d;
}

.sidebar ul li .icon {
  padding: 30px 0;
  font-size: 34px;
  position: absolute;
  left: 10px;
}

.sidebar ul li .label {
  margin-left: 70px;
  display: none;
}

.sidebar.open ul li .label {
  display: inline;
}
